*{
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 30vh;
    margin-left: 60vh;
    height: 200px;
    width: 250px;
    border: 2px solid black;
}
.container h1{
    text-align: center;
}
.field {
    padding: 10px;
    margin: 5px;
}
.btn{
    margin-left: 100px;
    margin-top: 20px;
    padding: 0px 8px 0px 8px;
   background-color: blue;
   border: 1.5px solid black;
   border-radius: 2px;
}